<h1>Editor</h1>
<p>CIC-Editor is a generic component that has all editor & modes</p>
<h3>Import</h3>
<div class="container">
  <code>{{ "import {CICEditorModule} from 'cic-core-library'" }}</code>
</div>
<br />
<h3>Dependencies</h3>

<br />
<div class="container">
  <code>{{ scripts }}</code>
</div>
<br />
<div class="container">
  <code>{{ styles }}</code>
</div>
<h3>Basic usage</h3>
<p class="subtitle">
  Component needs to be wrapped with
  <span>form group ('form') & form control name ('formControl')</span> should be
  provided
</p>
<div class="container">
  <code> {{ Basic }} </code>
</div>
