.section{
  display: flex;
    .container{
      padding-right: 2rem;
      width: 50%;
      margin-right: 1rem;
      background-color: #eff3f8a5;
  padding: 20px 20px;
  border-radius: 1rem;
    }}
