  <p-carousel
[value]="data"
[numVisible]="numVisible"
[numScroll]="numScroll"
[circular]="circular"
[responsiveOptions]="responsiveOptions"
[autoplayInterval]="autoplayInterval"
[style]="style"
[verticalViewPortHeight]="verticalViewPortHeight"
[orientation]="orientation"
label="label"
>
 <ng-template pTemplate="header"> <h5>{{label}}</h5></ng-template>
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="p-mb-3">
                <img src="assets/image/{{product.image}}" [alt]="product.name" class="product-image" />
              </div>
              <div>
                  <h4 class="p-mb-1">{{product.name}}</h4>
                  <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                  <span >{{product.inventoryStatus}}</span>
                  <div >
                      <cic-button  [isRounded]="true"  btnIcon="pi-search"></cic-button>
                      <cic-button  [isRounded]="true" severity="success" btnIcon="pi-star-fill"></cic-button>
                      <cic-button  [isRounded]="true" severity="help" btnIcon="pi-cog"></cic-button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>

