<form [formGroup]="form">
  <div class="container">
    <p-divider>
      <span class="p-tag"> Editor Default</span>
    </p-divider>
    <!-- <cic-editor
      controlName="data"
      [styleClass]="'styleEditor'"
      placeholder="Add any Text"
      [readonly]="false"
    ></cic-editor> -->
    <br />
    <div>
      <cic-input type="textarea" controlName="textarea1"></cic-input>
      <cic-button
        btnIcon="pi-copy"
        label="Copy"
        (click)="clicked('textarea1')"
      ></cic-button>
    </div>
  </div>
</form>
