<p-tabView>
  <p-tabPanel header="Examples" leftIcon="pi pi-exclamation-circle">
    <cic-charts-examples></cic-charts-examples>
  </p-tabPanel>
  <p-tabPanel header="Installation" leftIcon="pi pi-download">
    <h1>Charts</h1>
    <p>CIC-Chart is a generic component that has all Charts & modes</p>
    <h3>Import</h3>
    <div class="container">
      <code>{{ "import  " }}</code>
    </div>
    <h3>Basic usage</h3>
    <div class="container">
      <code> {{ Basic }} </code>
    </div>
  </p-tabPanel>
</p-tabView>
