<h1>Checkbox</h1>
<p>CIC-Checkbox is a generic component that has all Checkbox & modes</p>
<h3>Import</h3>
<div class="container">
  <code>{{ "import {CICCheckboxModule} from 'cic-core-library'" }}</code>
</div>
<h3>Basic usage</h3>
<p class="subtitle">
  Component needs to be wrapped with
  <span>form group ('form') & form control name ('formControl')</span> should be
  provided
</p>
<div class="container">
  <code> {{ Basic }}</code>
</div>
<h4 class="subtitle">Two Way Binding</h4>
<div class="container">
  <code> {{ BasicWay }}</code>
</div>
