<p-tabView>
  <p-tabPanel header="Examples" leftIcon="pi pi-exclamation-circle">
    <cic-galleria-example></cic-galleria-example>
  </p-tabPanel>
  <p-tabPanel header="Installation" leftIcon="pi pi-download">
    <h1>Galleria</h1>
    <p>CIC-Galleria is a generic component that has all Galleria & modes</p>
    <h3>Import</h3>
    <div class="container">
      <code>{{ "import {CICGalleriaModule}" }}</code>
    </div>
    <h3>Basic usage</h3>
    <div class="container">
      <code> {{ Basic }} </code>
    </div>
  </p-tabPanel>
</p-tabView>
