


.section{
  display: flex;
  margin-bottom: 2rem;
    .container{
      margin-right: 2rem;
      width: 50%;
      background-color: #eff3f8a5;
  padding: 20px 20px;
    }}
    .container {
      background-color: #eff3f8a5;
      padding: 30px;
      border-radius: 20px;
    }
i{
padding: 1rem;
}
