<p-tabView>
  <p-tabPanel header="Examples" leftIcon="pi pi-exclamation-circle">
    <cic-divider-examples></cic-divider-examples>
  </p-tabPanel>
  <p-tabPanel header="Installation" leftIcon="pi pi-download">
    <h1>Divider</h1>
    <p>CIC-Divider is a generic component that has all Divider & modes</p>
    <h3>Import</h3>
    <div class="container">
      <code>{{ "import {CICDividerModule} " }}</code>
    </div>

    <h3>Basic usage</h3>
    <div class="container">
      <code> {{ Basic }} </code>
    </div>
  </p-tabPanel>
</p-tabView>
